.login-container{ 
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{ 
    padding: 1rem 2rem;
    box-shadow: 0.5px 0.5px 4px 0 darkgray;
    border: 0.2px solid rgb(189, 188, 188);
    border-radius: 0.5rem;
    width: 15%;
    max-width: 220px;
}

.actions-container{ 
    display: flex;
    flex-direction: column;
}

input{ 
    padding: 0.1rem 0;
    margin-top: 0.1rem;
    border: 1px solid rgb(206, 199, 199);
    border-radius: 0.2rem;
}

label:nth-child(3){ 
    margin-top: 0.35rem;
}

button{ 
    padding: 0.25rem 0;
    background-color: rgb(13, 156, 156);
    border: none;
    cursor: pointer;
    color: white;
    margin: 0.7rem 0;
    width: 100%;
    border-radius: 0.2rem;
}

button:hover{ 
    background-color: rgb(11, 121, 121);

}