<div class="login-container">
   <form class="login" action="#" (ngSubmit)="login()">
       <div class="actions-container">
           <label for="email_field">Email</label>
           <input type="text" placeholder="" [class.isError]="isError()" id="email_field" [(ngModel)]="firstName" name="email" autofocus>
           <label for="password_field">Password</label>
           <input type="password" [class.isError]="isError()" placeholder="" id="password_field">
        </div>
        <button type="submit">
            Login
        </button>
        <span class="msg-error" *ngIf="isError()">{{ msgError }}</span>
    </form>
</div>
